.inputText {
    font-family: sans-serif;
    font-size: 50px;
}

.input {
    width: 450px; 
    height: 70px;
    border-radius: 50px;
    background-color: #F0F0F0;
    font-size: 25px;
    padding-left: 10px;
}

.button {
    width: 120px;
    height: 70px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchSquare {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.searchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 320px;
    width: 85%;
}