* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
}

.app {
  background-color: #F0F0F0;
  height: 700px;
  width: 40%;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}